/** {
	border: 2px solid purple;
}*/

body {
	font: 18px/1.5 Arial, Helvetica, sans-serif;
	background: url("../img/background.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;

    display: flex;
    flex-direction: column;
    height:100vh;

}

.boldText {
	font-weight: bold;
}

/*Header*/

header {
	min-height: 7vh;
	background-color: #CDE4E5;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
	color: #0B2429;
	font-size: 42px;
	margin-left: 100px;
	font-family: 'Orbitron', sans-serif;
}

header li {
	padding: 0 10px;
	font-family: 'Orbitron', sans-serif;
}

header a {
	text-decoration: none;
	color: #0B2429;
	text-transform: uppercase;
}

header nav {
    margin-right: 100px;
}

header ul {
	display: flex;
}

header .current a {
	font-weight: bold;
}

header a:hover {
	color: white;
}

header li a.login-logout {
	text-transform: capitalize;
}

section {
	flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*photobooth page*/

main {
	display: flex;
	flex-direction: row;
/*	align-items: center;*/
	justify-content: center;
	background-color: #CDE4E5;

}

.photo-button {
	margin: 0 auto;
	width: 70%;
	font-size: 15px;
	height: 30px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Cinzel', sans-serif;
}

.video-attr {
	display: flex;
	flex-direction: column;
}

.img-boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-boxes .box {
	width: 30%;
}

#poro1,
#poro2,
#poro3 {
	width:150px;
	height:150px;
}

/*Form in the center of registration*/

form.registr {
	background-color: #CDE4E5;
	color: #0B2429;
	min-width: 20vw;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Cinzel', sans-serif;
	border-radius: 15px;
}

form.registr div {
	width: 100%;
	display: flex;
	justify-content: center;
}

form.registr div input {
	margin: 8px 0;
	font-family: 'Cinzel', sans-serif;
}

form.registr div .field {
	width: 75%;
	height: 25px;
}

form.registr div .btn_1 {
	width: 70%;
	font-size: 15px;
	height: 30px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Cinzel', sans-serif;
}

#signIn {
	padding-bottom: 5px;
} /*todo*/

#signUp {
	padding-top: 5px;
}

#codePadding {
	padding-bottom: 25px;
}

.padding-bottom {
	padding-bottom: 35px;
}

.formFieldPadding {
	padding: 0 10px;
}

/*Footer*/

footer {
	background-color: #CDE4E5;
	color: #0B2429;
	min-height: 7vh;
	display: flex;
	justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

/*testing*/

#usernameDiv,
#emailDiv,
#passwordDiv,
#repeatPasswordDiv,
#codeDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error {
    color: white;
	background-color: #0B2429;
	font-size: 12px;
	border-radius: 3px;
	white-space: pre;
/*	width: 75%;
	text-align: center;*/
}

.active-error {
	padding: 1px 9px;
}
	
.invalid-field {
	background-color: #FBE9E8;
}
