body {
	font: 18px/1.5 Arial, Helvetica, sans-serif;
	background: url("../img/background.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;

    display: flex;
    flex-direction: column;
    height:100vh;
}

.boldText {
	font-weight: bold;
}

/*Header*/

header {
	min-height: 7vh;
	background-color: #CDE4E5;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
	color: #0B2429;
	font-size: 42px;
	margin-left: 100px;
	font-family: 'Orbitron', sans-serif;
}

header li {
	padding: 0 10px;
	font-family: 'Orbitron', sans-serif;
}

header a {
	text-decoration: none;
	color: #0B2429;
	text-transform: uppercase;
}

header nav {
    margin-right: 100px;
}

header ul {
	display: flex;
}

header .current a {
	font-weight: bold;
}

header a:hover {
	color: white;
}

header li a.login-logout {
	text-transform: capitalize;
}

section {
	flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*photobooth page*/

main.camera-main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #CDE4E5;
	max-height: 680px;
	border: 3px solid white;
    border-radius: 10px;
}

.camera-place {
	width: 640px;
	height: 480px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px white solid;
}

.camera-place p {
	font-family: 'Cinzel', sans-serif;
}

#cameraImg {
	padding-bottom: 35px;
}

.user-uploaded-img {
	background-position: center !important;
	background-repeat: no-repeat !important;
   	background-size: contain !important;
   	height: 480px;
   	width: 640px;
}

.input-border {
	border: 3px white solid;
}

.booth-aside {
	overflow-y: auto;
	height: 680px;
}

.thumbnail {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	height: 240px;
	width: 320px;
}

.booth-aside .thumbnail {
	padding: 2px;
}

.photo-button {
	margin: 0 auto;
	width: 70%;
	font-size: 15px;
	height: 30px;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: 'Cinzel', sans-serif;
	border: 3px solid white;
}

.video-attr {
	display: flex;
	flex-direction: column;
	border-right: 3px solid white;
}

.img-boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-boxes .box {
	width: 30%;
}

#poro1,
#poro2,
#poro3 {
	width:150px;
	height:150px;
	z-index: 1000;
}

/*gallery*/

main.gallery-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    align-items: center;
	background-color: #CDE4E5;
	max-height: 940px;
	max-width: 1350px;
	overflow-y: auto;
	border: 3px solid white;
    border-radius: 10px;
}

.no-photos-error {
	margin-bottom: 10px;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    color: red;
}

.gallery-photos {
	width: 45%;
	margin-top: 15px;
	margin-bottom: 5px;
	border: 3px solid white;
    border-radius: 15px;

}

.btn-gallery {
	width: 80%;
	font-size: 15px;
	height: 30px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Cinzel', sans-serif;
	border: 3px solid white;
}

/*gallery popup*/

.blurred-background {
	position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,.8);
    z-index: 500;
}

.photo-place {
	position: absolute;
    width: 1000px;
    height: 700px;
    background: #CDE4E5;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
}

.gallery-popup-main {
	display: flex;
    flex-direction: column;
}

.gallery-popup-img {
	border: 3px solid white;
	border-radius: 5px;
	margin: 20px;
	margin-top: 50px;
	width: 640px;
	height: 480px;
}

.gallery-popup-btn-div {
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.gallery-popup-buttons {
	width: 30%;
	font-size: 15px;
	height: 30px;
	cursor: pointer;
	font-family: 'Cinzel', sans-serif;
	margin-top: 10px;
	border: 3px solid white;
}

.gallery-popup-aside {
	display: flex;
    flex-direction: column;
    min-width: 280px;
    margin-top: 50px;
}

.gallery-popup-comments {
	display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 350px;
    margin-bottom: 20px;
}

.gallery-popup-old-comment {
	max-width: 280px;
    background-color: white;
    border-radius: 25px;
    font-family: 'Orbitron', sans-serif;
    padding: 5px;
    margin: 5px 0;
    word-wrap: break-word;
}

.gallery-popup-new-comment {
	height: 100px;
	max-width: 280px;
	max-height: 200px;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
}

.gallery-popup-submit-comment {
	width: 80%;
	font-size: 15px;
	height: 30px;
	cursor: pointer;
	font-family: 'Cinzel', sans-serif;
	margin: 0 auto;
	margin-top: 15px;
	border: 3px solid white;
}

/*Form in the center of registration*/

form.registr {
	background-color: #CDE4E5;
	color: #0B2429;
	min-width: 20vw;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Cinzel', sans-serif;
	border-radius: 15px;
}

form.registr div {
	width: 100%;
	display: flex;
	justify-content: center;
}

form.registr div input {
	margin: 8px 0;
	font-family: 'Cinzel', sans-serif;
}

form.registr div .field {
	width: 75%;
	height: 25px;
}

form.registr div .btn_1 {
	width: 70%;
	font-size: 15px;
	height: 30px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: 'Cinzel', sans-serif;
	border: 3px solid white;
}

#signIn {
	padding-bottom: 5px;
}

#signUp {
	padding-top: 5px;
}

#codePadding {
	padding-bottom: 25px;
}

.padding-bottom {
	padding-bottom: 35px;
}

.formFieldPadding {
	padding: 0 10px;
}

/*Footer*/

footer {
	background-color: #CDE4E5;
	color: #0B2429;
	min-height: 7vh;
	display: flex;
	justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

/*error messages in the forms*/

#usernameDiv,
#emailDiv,
#passwordDiv,
#repeatPasswordDiv,
#codeDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error {
    color: white;
	background-color: #0B2429;
	font-size: 12px;
	border-radius: 3px;
/*	a bad decision, however a necessary one considering my skills*/
	white-space: pre;
}

.active-error {
	padding: 1px 9px;
}
	
.invalid-field {
	background-color: #FBE9E8;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {
    .registr {
		width: 40vw;
	}
	main.gallery-main {
		max-width: 950px;
	}
}

@media only screen and (max-height: 1130px) {
	body.responsive-height {
		height: auto;
	}
	.gallery-main, .camera-main {
		margin: 15px 0;
	}
}

@media only screen and (max-height: 1130px) {
	body.responsive-height {
		height: auto;
	}
	.gallery-main, .camera-main {
		margin: 15px 0;
	}
}

@media only screen and (max-height: 768px) {
	body.responsive-height-booth {
		height: auto;
	}
}

@media only screen and (max-width: 768px) {
    .registr {
		width: 50vw;
	}
	#logo {
		margin-left: 50px;
		margin-right: 50px;
	}
	.camera-place {
		width: 440px;
		height: 340px;
	}
	.camera-main {
		height: 500px;
	}
	.booth-aside {
		height: 500px;
	}
	.photo-place {
		width: 700px;
	}
	#stream {
		width: 440px;
		height: 340px;
	}
	#canvas {
		width: 440px;
		height: 340px;
	}
	#cameraImg {
		height: 150px;
		width: 150px;
	}
	#poro1, #poro2, #poro3 {
		width: 100px;
		height: 100px;
	}
	main.gallery-main {
		max-height: 740px;
		max-width: 700px;
	}
	.gallery-popup-aside {
		min-width: 80px;
		margin-right: 10px;
	}
	.photo-place {
		width: 700px;
		height: 600px;
	}
	.gallery-popup-img {
		width: 440px;
		height: 340px;
	}
	.gallery-popup-buttons {
		width: 40%;
	}
	.gallery-popup-comments {
		max-height: 300px;
	}
	.thumbnail {
		width: 220px;
		height: 170px;
	}
}

@media only screen and (max-width: 414px) {
    body {
    	font-size: 10px;
    }
    .registr {
		width: 50vw;
	}
	#logo {
		margin-left: 25px;
		margin-right: 60px;
		font-size: 15px;
	}
	header nav {
		font-size: 8px;
	}
	.camera-place {
		width: 250px;
		height: 170px;
	}
	#getFile {
		width: 180px;
	}
	.camera-main {
		height: 250px;
	}
	.booth-aside {
		height: 250px;
	}
	.photo-place {
		width: 300px;
	}
	#stream {
		width: 290px;
		height: 150px;
	}
	#canvas {
		width: 290px;
		height: 150px;
	}
	#cameraImg {
		height: 50px;
		width: 50px;
	}
	#poro1, #poro2, #poro3 {
		height: 50px;
		width: 50px;
	}
	main.gallery-main {
		max-height: 740px;
		max-width: 700px;
	}
	.gallery-popup-aside {
		min-width: 20px;
		margin-right: 2px;
	}
	.photo-place {
		width: 700px;
		height: 600px;
	}
	.gallery-popup-img {
		width: 440px;
		height: 340px;
	}
	.gallery-popup-buttons {
		width: 40%;
	}
	.gallery-popup-comments {
		max-height: 300px;
	}
	.thumbnail {
		width: 80px;
		height: 60px;
	}
}

@media only screen and (max-width: 375px) {
    body {
    	font-size: 10px;
    }
    .registr {
		width: 50vw;
	}
	#logo {
		margin-left: 25px;
		margin-right: 10px;
		font-size: 15px;
	}
	header nav {
		font-size: 8px;
	}
	.camera-place {
		width: 200px;
		height: 140px;
	}
	#getFile {
		width:200px;
	}
	.camera-main {
		height: 250px;
	}
	.booth-aside {
		height: 250px;
	}
	.photo-place {
		width: 300px;
	}
	#stream {
		width: 240px;
		height: 140px;
	}
	#canvas {
		width: 240px;
		height: 140px;
	}
	#cameraImg {
		height: 50px;
		width: 50px;
	}
	#poro1, #poro2, #poro3 {
		height: 50px;
		width: 50px;
	}
	main.gallery-main {
		max-height: 740px;
		max-width: 700px;
	}
	.gallery-popup-aside {
		min-width: 20px;
		margin-right: 2px;
	}
	.photo-place {
		width: 700px;
		height: 600px;
	}
	.gallery-popup-img {
		width: 440px;
		height: 340px;
	}
	.gallery-popup-buttons {
		width: 40%;
	}
	.gallery-popup-comments {
		max-height: 300px;
	}
	.thumbnail {
		width: 80px;
		height: 60px;
	}
}

@media only screen and (max-width: 320px) {
    body {
    	font-size: 10px;
    }
    .registr {
		width: 50vw;
	}
	#logo {
		margin-left: 5px;
		margin-right: 10px;
		font-size: 10px;
	}
	header nav {
		font-size: 8px;
	}
	.camera-place {
		width: 200px;
		height: 140px;
	}
	#getFile {
		width:200px;
	}
	.camera-main {
		height: 250px;
	}
	.booth-aside {
		height: 250px;
	}
	.photo-place {
		width: 300px;
	}
	#stream {
		width: 240px;
		height: 140px;
	}
	#canvas {
		width: 240px;
		height: 140px;
	}
	#cameraImg {
		height: 50px;
		width: 50px;
	}
	#poro1, #poro2, #poro3 {
		height: 50px;
		width: 50px;
	}
	main.gallery-main {
		max-height: 740px;
		max-width: 700px;
	}
	.gallery-popup-aside {
		min-width: 20px;
		margin-right: 2px;
	}
	.photo-place {
		width: 700px;
		height: 600px;
	}
	.gallery-popup-img {
		width: 440px;
		height: 340px;
	}
	.gallery-popup-buttons {
		width: 40%;
	}
	.gallery-popup-comments {
		max-height: 300px;
	}
	.thumbnail {
		width: 80px;
		height: 60px;
	}
}
