* {
	border: 2px solid purple;
}

body {
	font: 18px/1.5 Arial, Helvetica, sans-serif;
	background: url("../img/background.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*Global*/

.container {
	margin: auto;
	width: 80%;
	overflow: auto;
}

/*Header*/

header {
	min-height: 7vh;
	background-color: white;
	padding-top: 30px;
}

#logo {
	float: left;
	color: green;
	padding-left: 75px;
	font-size: 42px;
	margin-top: -10px;
}

header li {
	display: inline;
	float: left;
	padding: 0 10px;
}

header a {
	text-decoration: none;
	color: red;
	text-transform: uppercase;
}

header nav {
	float: right;
	margin-top: 13px;
}

header .current a {
	color: green;
}

header .current a:hover {
	color: red;
}

/*form in the center*/

form {
	/*position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);*/
	position: relative;
	transform: translate(-50%, 0);
	left: 50%;
	background-color: white;
	min-width: 300px;
	width: 20vw;
	height: 40vh;
	margin-top: 20vh;
}

/*Footer*/

html, body {
	margin: 0;
	display:table;
	height:100%;
	width: 100%;
}

footer {
	text-align: center;
	background-color: white;
	color: black;
	padding: 20px;
	margin-top: 20px;
	display: table-row;
	height: 70px;
}

footer p {
	padding-top: 20px;
}